*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.navbar{
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(57, 11, 75, 0.7);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 15px 0px;

}
.navbar ul li{
    font-family: century;
    font-size: 13px;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 18px;
}
.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: rgb(185, 173, 3);
    display:block;
    margin: auto;
    transition: 0.3s;
}
.navbar ul li:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgb(234, 0, 255);
}
.navbar ul li:hover::after{
    width:100%;
}
.headings{
    font-size: 2.5rem;
    text-align: center;
    margin: 40px 0px;
    color:  white;
    -webkit-text-stroke:2px rgba(114, 44, 155, 0.678);
}
.heading{
    font-size: 2.5rem;
    text-align: left;
    margin: 40px 0px;
    color:  white;
    -webkit-text-stroke:2px rgba(114, 44, 155, 0.678);
}
.sub-head{
    -webkit-text-stroke:1px rgba(114, 44, 155, 0.678);
}
#Home{
    display:flex;
    justify-content: space-around;
    background-color:rgb(5, 5, 5);
    align-items: center;
    background-image: url("images/3.jpg");
    position:static;
}
.glow{
    transition: 0.9s;
}
.glow:hover{
    cursor: pointer;
    text-shadow:0 0 10px rgb(238, 222, 84);
    -webkit-text-stroke:2px rgb(226, 0, 0);
}
#Home img{
    height:450px ;
    width: auto;
    border-radius: 50px;
    margin: 3%;
}
#Home img:hover{
    cursor: pointer;
    box-shadow:0 0 20px rgba(255, 217, 0, 0.856);

}
.main{
    color: white;
    justify-content: center;
    align-items: center;
}
.main h1{
    font-size: 48px;
    text-shadow:0 0 10px rgb(234, 0, 255);
    -webkit-text-stroke:2px black;
}
.main h2{
    font-size: 32px;
}
#About{
    display:flex;
    flex-direction: column;
    padding:30px;
    background-color: rgb(5, 5, 5);
    color: white;
}
.about1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about2{
    display: flex;
    flex-direction: column;
    padding:3%;
    color:white;
    margin-top: 10%;
    justify-content: space-evenly;
    width: 800px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top,rgba(57, 11, 75, 0.7) 100%, white 0%);

}
.about2:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgb(234, 0, 255);
}

.tech{
    display: flex;
    padding-top: 5%;
    align-items: center;
}
.tech1{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    width: 420px;
    height: 250px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top,rgba(57, 11, 75, 0.7) 100%, white 0%);
}
.tech1:hover{
    cursor:pointer;
    box-shadow: 0 0 10px rgb(234, 0, 255);
}
.tech1 img{
    border-radius: 10%;
}
.tech1 p{color: black;}

#education{
    display:flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(5, 5, 5);
}
#education h1{
    display: inline-flex;
}
.row{
    display:flex;
    padding-left: 1.5%;
    padding-top: 5%;

}
.edu:hover{
    cursor:pointer;
    box-shadow: 0 0 10px rgb(234, 0, 255);
}
.edu{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 420px;
    height:250px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top,rgba(57, 11, 75, 0.7) 100%, white 0%);
}
.sci{
    margin-top: 4%;
}
.cert{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ok{
    border:1px solid black;
    background-color: rgba(57, 11, 75, 0.7);
    align-items: center;
    border-radius: 50%;
    text-align: center;
    height:auto;
    width:60%;
    padding: 15px;
    margin: 40px;
}
.ok:hover{
    cursor:pointer;
    box-shadow: 0 0 10px rgb(234, 0, 255);
}
.cert{
    margin-top: 4%;
}
.marg{
    margin-top:4%;
}
.edu h3{
    color: #000;
    font-size: 24px;
    font-style: italic;
}
.edu p{
    color: #fff;
}
#portfolio{
    display:flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(5, 5, 5);
    color:white;
}


#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(5, 5, 5);
    color: white;
    margin-top: 0.1%;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 5%;
    outline: none;
}
#send{
    padding: 10px;
    margin: 20px;
    width: 15%;
    border: none;
    border-radius: 50%;
    outline: none;
}
#send:hover{
    cursor:pointer;
    box-shadow: 0 0 10px rgb(234, 0, 255);
}
.cont{
    text-align: center;
}
.conti{
    text-align: center;
    color:red;
    padding-bottom:  50px;
}




@media(max-width:720px){
    @media(max-width:360px){
        *{
            font-size: 97%;
        }
        .navbar{
            display:flex;
            background-color: rgba(57, 11, 75, 0.7);
            position: sticky;
            top: 0;
        }
        .navbar ul{
            flex-wrap: wrap;
            display:flex;
            justify-content: space-around;
            list-style: none;
            margin: 10px 0px;
        }
        .navbar ul li{
            font-family: century;
            font-size: 80%;
            font-weight: bold
        }
        .navbar ul li a{
            text-decoration: none;
            color: white;
            padding: 10px;
        }
    }
    *{
        font-size: 97%;
    }
    .navbar ul{
        margin: 10px 0px;
    
    }
    .navbar ul li{
        font-size: 80%;
    }
    .navbar ul li a{
        padding: 10px;
    }
    #Home{
        flex-direction:column;
    }
    #Home img{
        height:250px ;
        width: auto;
        border-radius: 50px;
    }
    .main{
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    .row{
    flex-direction: column;
    align-items: center;
    }
    .main h1{
        font-size: 23px;
    }
    .main h2{
        font-size: 18px;
    }
    .heading{
        font-size: 23px;
    }
    .headings{
        font-size: 23px;
    }
    .sub-head{
        font-size: 18px;
    }
    .about2{
        width:90%;
        height: auto;
    }
    .edu h3{
        color: #000;
        font-size: 16px;
        font-style: italic;
    }
    .edu{
        width: 70%;
        height:auto;
    }
    .tech{
        flex-direction: column;
    }
    .tech1{
        width: 50%;
        height: auto;
    }
    .tech1 img{
        width:70%;
        height:auto;
    }
    #msg{
        width: 35%;
    }
    .input{
        width: 50%;
        border-radius: 10px;
    }
    #send{
        border-radius: 10px;
        font-size: 70%;
    }
}



@media(max-width:1050px){
    *{
        font-size: 100%;
    }
    #Home img{
        height:250px ;
        width: auto;
        border-radius: 50px;
    }
    .about2{
        width:90%;
        height: auto;
    }
    .row{
        flex-wrap: wrap;
    }
}
